/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0070ea;
  --ifm-color-primary-dark: #0065d3;
  --ifm-color-primary-darker: #005fc7;
  --ifm-color-primary-darkest: #004ea4;
  --ifm-color-primary-light: #027bff;
  --ifm-color-primary-lighter: #0e81ff;
  --ifm-color-primary-lightest: #3194ff;
  --ifm-code-font-size: 95%;
  --ifm-navbar-background-color: #f6f8ff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #33ffdc;
  --ifm-color-primary-dark: #14ffd7;
  --ifm-color-primary-darker: #05ffd4;
  --ifm-color-primary-darkest: #00d6b1;
  --ifm-color-primary-light: #52ffe1;
  --ifm-color-primary-lighter: #61ffe4;
  --ifm-color-primary-lightest: #8fffec;
  --ifm-background-color: #1e293b;
  --ifm-navbar-background-color: #03001c;
}
