.section {
  padding: 3rem 0;
  position: relative;
}

.sectionDark {
  background-color: var(--ifm-color-emphasis-100);
  border-top: 1px solid var(--ifm-color-emphasis-200);
  border-bottom: 1px solid var(--ifm-color-emphasis-200);
}

.sectionTitle {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 800;
}

.sectionTitle span {
  border-bottom: 4px solid var(--ifm-color-primary);
}

.cardGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

/* Desktop enhancements */
@media (min-width: 769px) {
  .section {
    padding: 6rem 0;
  }

  .sectionTitle {
    font-size: 3rem;
    margin-bottom: 4rem;
  }

  .cardGrid {
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
    gap: 2.5rem;
  }
}
